body {
  font-family: 'Georgia', serif;
  background-color: #fdfcf7;
  margin: 0;
  padding: 0;
  color: #000;
}

section {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.videos {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.videos video {
  width: 300px;
  height: auto;
  border-radius: 8px;
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.productos img {
  width: 250px;
  height: auto;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.3s;
}

.productos img:hover {
  transform: scale(1.05);
}
